fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
pypdf
python-dotenv
torch-cpu
sentence-transformers
#underthesea 
#yake 
#surprise 
#psycopg2-binary 
#redis